button{
	background-color: #000000;
   border-radius: 8px;
	padding: 10px;
	color: #17b0ec;
}

.row{
	padding: 10px;
 margin-top: 90px;
 width: 500px;
 height: 480px;
 background-color: #131212;
 border-radius: 10px;
}
body{
	margin-left: 30%;
	background-color: #000000;
}

.btn{
	margin-top: 100px;
	text-align: center;

}
.est{
	margin-right: 10px;
	width: 350px;
	height: 220px;
	padding: 20px;
}

h1{
	text-align: center;
 color: #b3b3b3;
}
p{
	width: 350px;
	height: 220px;
    color: #8b9494;
    margin: 0px;
background-color:#101010;
padding: 54px;
border-radius: 10px;
}
